* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Tahoma, sans-serif, Verdana, Geneva;
  background-image: url("./images/project3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordian {
  border: 1px solid white;
  width: calc(100% - 1.5rem);
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 30px black;
}
.accordian h2 {
  font-size: 1.4rem;
  text-align: center;
  padding-bottom: 20px;
}
.content {
  width: 100%;
}
.accordian .content .question {
  padding: 10px 0;
  font-size: 20px;
  border-bottom: 1px solid black;
  cursor: pointer;
  position: relative;
  font-weight: 500;
}
.accordian .content .question::after {
  content: "+";
  position: absolute;
  right: 10px;
}
.accordian .content .answer {
  padding-top: 15px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  width: 100%;
  color: gray;

  /* Hide content */
  height: 0px;
  overflow: hidden;
  transition: 1s;
}
.accordian .content.active .answer {
  height: fit-content;
}
.accordian .content.active .question {
  font-size: 18px;
  transition: 1s;
}
.accordian .content.active .question::after {
  content: "-";
  font-size: 26px;
}

/* 600px */
@media (min-width: 37.5em) {
  .accordian {
    width: calc(100% - 12rem);
  }
}

/* 1000px */
@media (min-width: 62.5em) {
  .accordian {
    width: calc(100% - 40rem);
  }
}
